* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html, body {margin: 0; height: 100%; overflow: hidden}

html {
    font: 5vmin/1.3 sans-serif;
}

body {
    position: relative;
}
  
.background {
    position: absolute;
    display: block;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-color: rgb(255, 255, 255);
    background-image: url(/media/guac.png),
    url(/media/taco.png);
    background-size: 120px 120px;
    background-position: 0 0, 80px 150px;
}

@keyframes slide {
    from {
      background-position: 0 0, 50px 50px;
    }
  
    to {
      background-position: -120px 120px, -70px 170px;
    }
}
    
button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    font-size: 24px;
    color: #d6c424;
    text-transform: uppercase;
    width: 240px;
    height: 100px;
    padding: 16px 24px;
    background: #fffff0;
    border: 2px solid #979712;
    border-radius: 18px;
    transform-style: preserve-3d;
    transition: transform 150ms ease, background 150ms ease; 
}
      
button:hover {
    background: #eeeed9;
    transform: translate(0, 5px); 
}
      
button:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ebeab9;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #a1a177, 0 15px 0 0 #eef0d6;
    transform: translate3d(0px, 20px, -16px);
    transition: transform 150ms ease, box-shadow 150ms ease; 
}
        
button:hover::before {
    box-shadow: 0 0 0 2px #a1a177, 0 10px 0 0 #eef0d6;
    transform: translate3d(0px, 14px, -16px); 
}
      
button:active {
    background: #eeeed9;
    transform: translate(0px, 20px); 
}
        
button:active::before {
    box-shadow: 0 0 0 2px #a1a177, 0 0 #eef0d6;
    transform: translate3d(0, 0, -16px); 
}  

a {
    text-decoration: underline;
    color: #d6c424;
    font-size: 14px;
    position: absolute;
    margin-top: 200px;
}

.slide-up {
    animation: showtime-button 2.2s ease-out 0.5s 1 normal forwards;
}

.container {
    position: relative;
    z-index: 2;
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.container__rip {
    opacity: 0%;
}

.overlay-content {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    z-index: 0;
    opacity: 0%;
    transition: opacity 5s linear;
}

.overlay-content__start {
    z-index: 5;
    opacity: 100%;
}

.hidden {
    display: none;
}

.absolute {
    position: absolute;
}

.initial-guitarist {
    animation: showtime 2s linear 0s 1 normal forwards, upDownAnim 0.50s linear 2s 5 normal forwards;
    /* transform: translate(-50%, -50%); */
}

.guitarist {
    animation: upDownAnim 0.55s linear 0s 5 normal forwards;
    z-index: 1000;
    /* transform: translate(-50%, -50%); */
}

.guitarist-quicker {
    animation: upDownAnim 0.55s linear 0s 4 normal forwards;
    z-index: 1000;
    /* transform: translate(-50%, -50%); */
}

.trumpetist {
    animation: largerUpDownAnim 0.33s linear 0s 4 normal forwards;
    z-index: 1000;
    /* transform: translate(-50%, -50%); */
}

.trumpetist-aggressive {
    animation: largerUpDownAnimWithRotateAnim 0.12s linear 0s 8 normal forwards;
    z-index: 1000;
    transform: scale(1.5);
    /* transform: translate(-50%, -50%); */
}

.concerned {
    transform: translateX(40px);
    animation: slideInFromRightAnim 1.3s linear 0s 1 normal forwards;
    /* transform: translate(-50%, -50%); */
}

.drunk-but-playing {
    animation: largerUpDownAnimWithRotateAnim 0.1s linear 0s 9 normal forwards;
    z-index: 999;
}

.one-time-trumpet {
    animation: oneTimeTrumpetAnim 0.5s linear 0.3s 1 normal forwards;
    z-index: 999;
}

.opacity-animated-100 {
    animation: opacityTo100Animated 0.1s linear 0.7s 1 normal forwards, slide 4s infinite linear;
}

.papa-americano {
    transform: scale(1.2);
    animation: papaAmericano 0.45s ease-in-out 0.7s infinite normal forwards;
}

#toby-text {
    opacity: 0;
    margin-top: -280px;
    font-size:24px;
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 50;
}

#icon-link {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.icon {
    width: 36px;
    height: 40px;
}

@keyframes papaAmericano {
    0% {
		animation-timing-function: ease-in-out;
        transform: scale(1.2);
    }

    50% {
		animation-timing-function: ease-in-out;
        transform: scale(1.5);
    }

    100% {
		animation-timing-function: ease-in-out;
        transform: scale(1.2);
    }
}

@keyframes showtime {
    0% {
		animation-timing-function: ease-in-out;
		transform: translateY(2000px);
	}

	100% {
		animation-timing-function: ease-in-out;
		transform: translateY(0px);
	}
}

@keyframes showtime-button {
    0% {
		animation-timing-function: ease-in-out;
		transform: translateY(0px);
	}
    
    30% {
		animation-timing-function: ease-in-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-in-out;
		transform: translateY(-2000px);
	}
}

@keyframes upDownAnim {
	0% {
		animation-timing-function: linear;
		transform: translateY(0px);
	}

	50% {
		animation-timing-function: linear;
		transform: translateY(15px);
	}

	100% {
		animation-timing-function: linear;
		transform: translateY(0px);
	}
}

@keyframes largerUpDownAnim {
	0% {
		animation-timing-function: linear;
		transform: translateY(0px);
	}

	50% {
		animation-timing-function: linear;
		transform: translateY(25px);
	}

	100% {
		animation-timing-function: linear;
		transform: translateY(0px);
	}
}

@keyframes largerUpDownAnimWithRotateAnim {
	0% {
		animation-timing-function: linear;
		transform: rotate(0deg) translateY(0px);
	}

	25% {
		animation-timing-function: linear;
		transform: rotate(10deg) translateY(-10px);
	}

	50% {
		animation-timing-function: linear;
		transform: rotate(0deg) translateY(0px);
	}

	75% {
		animation-timing-function: linear;
		transform: rotate(-10deg) translateY(10px);
	}

	100% {
		animation-timing-function: linear;
		transform: rotate(0deg) translateY(0px);
	}
}

@keyframes oneTimeTrumpetAnim {
	0% {
		animation-timing-function: linear;
		transform: rotate(0deg) translateY(0px);
	}

	15% {
		animation-timing-function: linear;
		transform: rotate(10deg) translateY(-10px);
	}

	20% {
		animation-timing-function: linear;
		transform: rotate(0deg) translateY(0px);
	}

	100% {
		animation-timing-function: linear;
		transform: rotate(0deg) translateY(0px);
	}
}

@keyframes showtime {
    0% {
		animation-timing-function: ease-in-out;
		transform: translateY(2000px);
	}

	100% {
		animation-timing-function: ease-in-out;
		transform: translateY(0px);
	}
}

@keyframes slideInFromRightAnim {
    0% {
		animation-timing-function: ease-in-out;
		transform: translateX(2000px);
	}

	50% {
		animation-timing-function: ease-in-out;
		transform: translateX(40px);
	}

	100% {
		animation-timing-function: ease-in-out;
		transform: translateX(40px);
	}
}

@keyframes opacityTo100Animated {
    0% {
        animation-timing-function: ease-in-out;
        opacity: 0%;
    }

    100% {
        animation-timing-function: ease-in-out;
        opacity: 100%;
    }
}